{% extends 'template.html.twig' %}
{% block title %}Camson Group | Accueil Liste{% endblock %}
{% block body %}
<div class="pagetitle">
    <h1>Accueil</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-md-2 offset-md-1">
            <div class="card">
                <a href="{{ path('app_home') }}">
                    <div class="card-title ms-2 text-center">
                        Dashboard
                    </div>
                    <div class="card-body">
                        <svg xmlns="" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0H24V24H0z" />
                            <path
                                d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2zm4.596 5.404c-.204-.205-.526-.233-.763-.067-2.89 2.028-4.52 3.23-4.894 3.602-.585.586-.585 1.536 0 2.122.586.585 1.536.585 2.122 0 .219-.22 1.418-1.851 3.598-4.897.168-.234.141-.556-.063-.76zM17.5 11c-.552 0-1 .448-1 1s.448 1 1 1 1-.448 1-1-.448-1-1-1zm-11 0c-.552 0-1 .448-1 1s.448 1 1 1 1-.448 1-1-.448-1-1-1zm2.318-3.596c-.39-.39-1.024-.39-1.414 0-.39.39-.39 1.023 0 1.414.39.39 1.023.39 1.414 0 .39-.39.39-1.024 0-1.414zM12 5.5c-.552 0-1 .448-1 1s.448 1 1 1 1-.448 1-1-.448-1-1-1z" />
                        </svg>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <a href="{{ path('app_sav') }}">
                    <div class="card-title ms-2 text-center">
                        SAV
                    </div>
                    <div class="card-body">
                        <svg xmlns="" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0L24 0 24 24 0 24z" />
                            <path
                                d="M14.172 3c.53 0 1.039.21 1.414.586l4.828 4.828c.375.375.586.884.586 1.414V17h2v2h-8.126c-.445 1.726-2.01 3-3.874 3-1.864 0-3.43-1.274-3.874-3H3c-.552 0-1-.448-1-1V5c0-1.105.895-2 2-2h10.172zM11 16c-1.105 0-2 .895-2 2s.895 2 2 2 2-.895 2-2-.895-2-2-2zm3-9H6v6h8V7zm-2 2v2H8V9h4z" />
                        </svg>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <a href="{{ path('app_client_index') }}">
                    <div class="card-title ms-2 text-center">
                        Client
                    </div>
                    <div class="card-body">
                        <svg xmlns="" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0z" />
                            <path
                                d="M11 14.062V20h2v-5.938c3.946.492 7 3.858 7 7.938H4a8.001 8.001 0 0 1 7-7.938zM12 13c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6z" />
                        </svg>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <a href="{{ path('app_magasin') }}">
                    <div class="card-title ms-2 text-center">
                        Magasin
                    </div>
                    <div class="card-body">
                        <svg xmlns="" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0z" />
                            <path
                                d="M6.5 2h11a1 1 0 0 1 .8.4L21 6v15a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6l2.7-3.6a1 1 0 0 1 .8-.4zM19 8H5v12h14V8zm-.5-2L17 4H7L5.5 6h13zM9 10v2a3 3 0 0 0 6 0v-2h2v2a5 5 0 0 1-10 0v-2h2z" />
                        </svg>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <a href="{{ path('app_utilisateur') }}">
                    <div class="card-title ms-2 text-center">
                        Utilisateur
                    </div>
                    <div class="card-body">
                        <svg xmlns="" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0z" />
                            <path
                                d="M13 14.062V22H4a8 8 0 0 1 9-7.938zM12 13c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm5.793 6.914l3.535-3.535 1.415 1.414-4.95 4.95-3.536-3.536 1.415-1.414 2.12 2.121z" />
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<script>
    $("#toggle-sidebar-button").attr("hidden", "hidden")
    $(".sidebar").attr("hidden", "hidden")
    $("body").addClass("toggle-sidebar", "toggle-sidebar")
</script>
{% endblock %}