{% extends 'template.html.twig' %}
{% block title %}Camson Group | Accueil{% endblock %}
{% block body %}


    <style>
        #sortable-list {
            display: flex;
            justify-content: space-evenly;
        }

        #sortable-list svg:hover {
            fill:#ff0081;
        }

        li {
            list-style: none;
        }

        .pagetitle div:has(button#ajoutClient) {
            float: right;
            margin-top: -70px
        }
    </style>

    <div class="pagetitle">
        <h1>Accueil</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            </ol>
        </nav>
        <div class="p-2 bd-highlight">
            <button class="btn bg-dark btnSav text-white" id="ajoutClient" data-bs-toggle="modal"
                    data-bs-target="#modal_personnaliser_colonne">
                Reglages
            </button>
        </div>
    </div>



    <section class="section">
        <div class="row mt-5 text-center">
            <ul id="sortable-list" class="ui-sortable" unselectable="on" style="-moz-user-select: none;">
                <li title="dashbord" class="col-md-2 offset-md-1 m-3" id="blockDashbord">
                    <div class="card">
                        <a href="{{ path('app_home') }}">
                            <div class="card-title ms-2 text-center">
                                Dashboard
                            </div>
                            <div class="card-body">
                                {%  include 'svg/dashboard.html.twig' %}
                            </div>
                        </a>
                    </div>
                </li>
                <li title="sav" class="col-md-2 m-3" id="blockSav">
                    <div class="card">
                        <a href="{{ path('app_sav') }}">
                            <div class="card-title ms-2 text-center">
                                SAV
                            </div>
                            <div class="card-body">
                                {%  include 'svg/sav.html.twig' %}
                            </div>
                        </a>
                    </div>
                </li>
                <li title="client" class="col-md-2 m-3" id="blockClient">
                    <div class="card">
                        <a href="{{ path('app_client_index') }}">
                            <div class="card-title ms-2 text-center">
                                Client
                            </div>
                            <div class="card-body">
                                {%  include 'svg/client.html.twig' %}
                            </div>
                        </a>
                    </div>
                </li>
                <li title="magasin" class="col-md-2 m-3" id="blockMagasin">
                    <div class="card">
                        <a href="{{ path('app_magasin') }}">
                            <div class="card-title ms-2 text-center">
                                Magasin
                            </div>
                            <div class="card-body">
                                {%  include 'svg/magasin.html.twig' %}

                            </div>
                        </a>
                    </div>
                </li>
                <li title="utilisateur" class="col-md-2 m-3" id="blockUtilisateur">
                    <div class="card">
                        <a href="{{ path('app_utilisateur') }}">
                            <div class="card-title ms-2 text-center">
                                Utilisateur
                            </div>
                            <div class="card-body">
                                {%  include 'svg/utilisateur.html.twig' %}
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- Modal personnaliser colonne -->
    <div class="modal fade" id="modal_personnaliser_colonne" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Personnalisation des boutons</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="all_check">
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th scope="col">Boutons</th>
                            <th scope="col">Afficher</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Dashboard</td>
                            <td><input class="form-check-input" type="checkbox" value="" id="check_dashbord" checked>
                            </td>
                        </tr>
                        <tr>
                            <td>SAV</td>
                            <td><input class="form-check-input" type="checkbox" value="" id="check_sav" checked></td>
                        </tr>
                        <tr>
                            <td>Client</td>
                            <td><input class="form-check-input" type="checkbox" value="" id="check_client" checked></td>
                        </tr>
                        <tr>
                            <td>Magasin</td>
                            <td><input class="form-check-input" type="checkbox" value="" id="check_magasin" checked>
                            </td>
                        </tr>
                        <tr>
                            <td>Utilisateur</td>
                            <td><input class="form-check-input" type="checkbox" value="" id="check_utilisateur" checked>
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal personnaliser colonne -->

    <script src="https://SortableJS.github.io/Sortable/Sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <script>
        // $("#toggle-sidebar-button").attr("hidden", "hidden")
        // $(".sidebar").attr("hidden", "hidden")
        // $("body").addClass("toggle-sidebar", "toggle-sidebar")

        $(function () {
            var $sortable = $('#sortable-list');
            var pos = JSON.parse(localStorage.getItem('positions'));

            if (pos) {
                $.each(pos, function (i, position) {
                    var $target = $sortable.find('#' + position);
                    $target.appendTo($sortable); // or prependTo
                });
            }

            $sortable.sortable({
                update: saveNewOrder
            });

            function saveNewOrder() {
                var pos = JSON.stringify($sortable.sortable("toArray"));
                localStorage.setItem('positions', pos);
            }
        });


        $("#all_check").click(function () {
            if ($("#check_dashbord").prop('checked')) {
                localStorage.setItem("dashbord_accueil", "afficher");
                $("#blockDashbord").show();
            } else {
                localStorage.setItem("dashbord_accueil", "masquer");
                $("#blockDashbord").hide();
            }

            if ($("#check_sav").prop('checked')) {
                localStorage.setItem("sav_accueil", "afficher");
                $("#blockSav").show();
            } else {
                localStorage.setItem("sav_accueil", "masquer");
                $("#blockSav").hide();
            }

            if ($("#check_client").prop('checked')) {
                localStorage.setItem("client_accueil", "afficher");
                $("#blockClient").show();
            } else {
                localStorage.setItem("client_accueil", "masquer");
                $("#blockClient").hide();
            }

            if ($("#check_magasin").prop('checked')) {
                localStorage.setItem("magasin_accueil", "afficher");
                $("#blockMagasin").show();
            } else {
                localStorage.setItem("magasin_accueil", "masquer");
                $("#blockMagasin").hide();
            }

            if ($("#check_utilisateur").prop('checked')) {
                localStorage.setItem("utilisateur_accueil", "afficher");
                $("#blockUtilisateur").show();
            } else {
                localStorage.setItem("utilisateur_accueil", "masquer");
                $("#blockUtilisateur").hide();
            }
        });


        function Personnalisation_boutons() {
            if (localStorage.getItem("dashbord_accueil") == "masquer") {
                $("#blockDashbord").hide();
                $("#check_dashbord").prop("checked", false);
            }

            if (localStorage.getItem("sav_accueil") == "masquer") {
                $("#blockSav").hide();
                $("#check_sav").prop("checked", false);
            }

            if (localStorage.getItem("client_accueil") == "masquer") {
                $("#blockClient").hide();
                $("#check_client").prop("checked", false);
            }

            if (localStorage.getItem("magasin_accueil") == "masquer") {
                $("#blockMagasin").hide();
                $("#check_magasin").prop("checked", false);
            }

            if (localStorage.getItem("utilisateur_accueil") == "masquer") {
                $("#blockUtilisateur").hide();
                $("#check_utilisateur").prop("checked", false);
            }

        }

        Personnalisation_boutons();


    </script>



{% endblock %}