{% extends 'template.html.twig' %}
{% block title %}Camson Group | Client{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/pagination.css') }}">
<div class="pagetitle">
  <h1>Liste Client</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Accueil</a></li>
      <li class="breadcrumb-item active"><a href="#">Client</a></li>
    </ol>
  </nav>
</div>
<!-- ====================== =AJOUTER CLIENT ===========================-->
<div class="d-flex bd-highlight mb-3">
  <div class="me-auto p-2 bd-highlight">
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Rechercher..." name="searchClient" id="searchClient">
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn bg-camson" type="button" onclick="searchAllClient()"><i class="bi bi-search"></i></button>
      </div>
    </div>
  </div>
  <div class="p-2 bd-highlight">
    <button class="btn bg-camson" type="button" onclick="showAllClient()"><i class="ri-refresh-line"></i></button>
    <button class="btn bg-dark btnSav text-white" id="ajoutClient">
      <i class="ri-user-3-fill"></i> Nouvelle client
    </button>
  </div>
  <div class="modal fade" id="modalClient" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">
            <i class="ti-marker-alt m-r-10"></i>
          </h5>
          <button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="formClient">
          <input type="text" name="id" hidden>
          <div class="modal-body">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Nom Client</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="nomClient" id="nom_Client" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Prénom</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="prenomClient" id="prenomClient" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Date de paiement</label>
                      <div>
                        <input type="date" class="form-control input-lg" name="datePaiement" id="datePaiment" onchange="ctrlChamp()" value="{{ 'now'|date('Y-m-d') }}">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Reférence client</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="reference" id="reference" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Gerant</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="gerant" id="gerant" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Portable 1</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="portable1" id="portable1" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Portable 2</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="portable2" id="portable2" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Tél. Fixe</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="fixe" id="fixe" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">email</label>
                      <div>
                        <input type="email" class="form-control input-lg" name="email" id="email" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Etat</label>
                      <div>
                        <select class="form-control input-lg" name="etat" id="etat">
                          <option value="3">Archivé</option>
                          <option value="2">En attente</option>
                          <option value="1">Active</option>
                          <option value="0">Bloqué</option>
                          <option value="-1">Suspendu</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Date de client</label>
                      <div>
                        <input type="date" class="form-control input-lg" name="dateClient" id="dateClient" onchange="ctrlChamp()" value="{{ 'now'|date('Y-m-d') }}">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Abonnement</label>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="photocopie" name="photocopie">
                        <label class="form-check-label" for="flexCheckDefault">
                          Photocopie
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="maintenance" name="maintenance">
                        <label class="form-check-label" for="flexCheckChecked">
                          Maintenance
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!--Footer Modal-->
              <div class="modal-footer flex-center">
                <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Annuler</button>
                <button disabled type="button" class="btn btn-info text-white" id="btnClient">Creer <span id="loadingAddClient"></span>
                <button type="button" class="btn btn-info text-white" id="btnEditer">Modifier <span id="loadingAddClient"></span>
                </button>
              </div>
            </div>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
</div>
<!-- ====================== =FIN AJOUTER CLIENT ===========================-->
<!-- ====================== =LISTE CLIENT ===========================-->
<div class="card cardCamson">
  <div class="card-header">
  </div>
  <!-- /.col -->
  <div class="card-body" id="valider">
    <a href="#" style="float: right" class="m-3" data-bs-toggle="modal" data-bs-target="#modal_personnaliser_colonne">Personnaliser les colonnes</a>
    <table class="table">
      <thead class="table bg-dark text-white">
        <tr>
          <th class="colonne_nom">NomClient</th>
          <th class="colonne_prenom">PrenomClient</th>
          <th class="colonne_tel">TelFixe</th>
          <th class="colonne_ref">RefClient</th>
          <th class="colonne_etat">Etat</th>
          <th class="colonne_email">Email</th>
          <th class="colonne_abonnement">Abonnement</th>
          <th class="">actions</th>
        </tr>
      </thead>
      <tbody id="dataClient">
      </tbody>
    </table>
    <div id="demo"></div>
  </div>
  <div class="">
  </div>
  <!-- ====================== =FIN LISTE CLIENT ===========================-->
  <!-- ======================= Modal Suppression Client ===========================-->
  <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" name="id">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ====================== =Fin Modal Suppression Client ===========================-->

  <!-- Modal personnaliser colonne -->
  <div class="modal fade" id="modal_personnaliser_colonne" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Personnalisation des colonnes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="all_check">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check_nom" checked>
            <label class="form-check-label" for="check_nom">Nom</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check_prenom" checked>
            <label class="form-check-label" for="check_prenom">Prénom</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check_tel" checked>
            <label class="form-check-label" for="check_tel">Tel</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check_ref" checked>
            <label class="form-check-label" for="check_ref">Ref</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check_etat" checked>
            <label class="form-check-label" for="check_etat">Etat</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check_email" checked>
            <label class="form-check-label" for="check_email">Email</label>
          </div>

        </div>
        {# <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary">Enregistrer</button>
        </div> #}
      </div>
    </div>
  </div>
  <!-- Modal personnaliser colonne -->

  <!-- ====================== =SCRIPT ===========================-->
  <script src="{{ asset('assets/js/pagination.js') }}"></script>
  <script>
    $("#ajoutClient").click(function() {
      $("#formClient")[0].reset();
      $(".input_fields_wrap").html('');
      $("#modalClient").modal("show");
      $("#modalClient").find(".modal-title").text("Formulaire d'ajout");
      $('input[name=photocopie]').removeAttr('checked', 'checked')
      $('input[name=maintenance]').removeAttr('checked', 'checked')
      $('#btnClient').removeAttr('hidden', 'hidden')
      $('#btnEditer').attr('hidden', 'hidden')
    })

    showAllClient();

    function showAllClient() {
      $('input[name=searchClient]').val('');
      $.ajax({
        type: "ajax",
        url: '{{ path("app_client_all_client") }}',
        // async: false,
        dataType: "json",
        beforeSend: function() {
          $("#dataClient").html("<td colspan='7' class='text-center'><span class='spinner-border spinner-border-sm text-camson'></span></td>");
        },
        success: function(data) {
          var result = [];
          //pagination client
          $('#demo').pagination({
            dataSource: function(done) {
              result.push(data);
              done(result[0]);
              console.log(result[0]);
              if (result[0].length <= 15) {
                $('#demo').attr('hidden', 'hidden');
              } else {
                $('#demo').removeAttr('hidden');
              }
            },
            callback: function(data, pagination) {
              let html = ""
              let telPortable2;
              if (data.length <= 0) {
                $("#dataClient").html("<td colspan ='9' class='text-center'>No data</td>")
                // $("tfoot").attr("hidden", 'hidden')
              } else {
                // $("tfoot").removeAttr("hidden", 'hidden')
                $.each(data, function(index, value) {
                  let date = moment(value.datePaiment).format("ll")
                  if (value.telPortable2 == null) {
                    telPortable2 = "";
                  } else {
                    telPortable2 = value.telPortable2;
                  }
                  // if () {

                  // } else {

                  // }
                  html += "<tr>" +
                    "<td class='colonne_nom'>" + value.nomClient + "</td>" +
                    "<td class='colonne_prenom'>" + value.prenomClient + "</td>" +
                    "<td class='colonne_tel'>" + value.telFixe + "</td>" +
                    "<td class='colonne_ref'>" + value.refClient + "</td>" +
                    "<td class='colonne_etat'>" + value.etat + "</td>" +
                    "<td class='colonne_email'>" + value.email + "</td>" +
                    "<td class='colonne_abonnement'>" + value.abonnement + "</td>" +
                    "<td class=''>" +
                    '<button type="button" class="btn btn-dark btn-sm" onclick="modifClient(' + value.id + ')" data-toggle="tooltip" data-placement="right" title="Detaille"><i class="bi bi-eye-fill"></i></button> ' +
                    '<button type="button" onclick="showModalUpdate(' + value.id + ')" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="left" title="Modifier"><i class="bi bi-pencil-square"></i></button> ' +
                    '<button type="button"  class="btn btn-danger btn-sm"  onclick="modalDelete(' + value.id + ')" data-toggle="tooltip" data-placement="left"  title="Supprimer"><i class="bi bi-trash3"></i></button>' +
                    "</td>" +
                    "</tr>"
                })
                $("#dataClient").html(html);
                Personnalisation_colonne();
              }
            }
          })
          //fin pagination
        },
        error: function() {

        },
      });
    }
    /* fonction click boutton ajout client */
    $("#btnClient").click(function() {
      let data = $("#formClient").serialize();
      $.ajax({
        type: "ajax",
        method: "post",
        url: '{{ path("app_client_new") }}',
        data: data,
        // async: false,
        dataType: "json",
        beforeSend: function() {
          $("#btnClient").attr("disabled", "disabled");
          $("#btnClient").find("#loadingAddClient").addClass("spinner-border spinner-border-sm");
        },
        success: function(response) {
          $("#modalClient").modal("hide");
          $("#btnClient").removeAttr("disabled", "disabled");
          $("#btnClient").find("#loadingAddClient").removeClass("spinner-border spinner-border-sm");
          showAllClient();
          successMessage();
        },
        error: function() {
          $("#btnClient").removeAttr("disabled", "disabled");
          $("#btnClient").find("#loadingAddClient").removeClass("spinner-border spinner-border-sm");
          errorMessage();
        },
      });
    });
    /* fonction editer client */
    function showModalUpdate(value) {
      $('#btnClient').attr('hidden', 'hidden')
      $('#btnEditer').removeAttr('hidden', 'hidden')
      $("#modalClient").modal("show")
      $("#modalClient").find(".modal-title").text("Modification");
      $.ajax({
        method: "get",
        type: "ajax",
        url: '{{ path("app_client_findById") }}',
        async: false,
        data: {
          id: value
        },
        dataType: "json",
        success: function(data) {
          $("input[name=nomClient]").val(data.nomClient);
          $("input[name=prenomClient]").val(data.prenomClient);
          $("input[name=fixe]").val(data.telFixe);
          $("select[name=etat]").val(data.etat).change();
          $("input[name=gerant]").val(data.nomGerant);
          $("input[name=portable1]").val(data.telPortable1);
          $("input[name=portable2]").val(data.telPortable2);
          $("input[name=reference]").val(data.refClient);
          $("input[name=datePaiment]").val(moment(data.datePaiment).format("YYYY-MM-DD"));
          $("input[name=nomGerant]").val(data.nomGerant);
          $("input[name=email]").val(data.email);
          $("input[name=id]").val(data.id);
          if (data.abonnement == "photocopie") {
            $('input[name=photocopie]').attr('checked', 'checked')
            $('input[name=maintenance]').removeAttr('checked', 'checked')
          }
          if (data.abonnement == "maintenance") {
            $('input[name=maintenance]').attr('checked', 'checked')
            $('input[name=photocopie]').attr('checked', 'checked')
          }else if(data.abonnement == "photocopie, maintenance"){
            $('input[name=maintenance]').attr('checked', 'checked')
            $('input[name=photocopie]').attr('checked', 'checked')
          }
        },
        error: function() {
          errorMessage();
        },
      });
    }
    /*boutton editer client */
    $('#btnEditer').click(function() {
      let data = $("#formClient").serialize();
      $.ajax({
        type: "ajax",
        method: "post",
        url: '{{ path("app_edit") }}',
        data: data,
        // async: false,
        dataType: "json",
        beforeSend: function() {
          $("#btnEditer").attr("disabled", "disabled");
          $("#btnEditer").find("#loadingUpdateClient").addClass("spinner-border spinner-border-sm");
        },
        success: function(response) {
          $("#btnEditer").removeAttr("disabled", "disabled");
          $("#btnEditer").find("#loadingUpdateClient").removeClass("spinner-border spinner-border-sm");
          $("#modalEditClient").modal("hide");
          successMessage()
          showAllClient()
        },
        error: function() {
          $("#btnEditer").removeAttr("disabled", "disabled");
          $("#btnEditer").find("#loadingUpdateClient").removeClass("spinner-border spinner-border-sm");
          errorMessage()
        },
      });
    })

    /* fonction click boutton delete client */
    function modalDelete() {
      $("#modalDelete").modal("show")
      $.ajax({
        method: "get",
        type: "ajax",
        url: '{{ path("app_client_findById") }}',
        async: false,
        data: {
          id: value
        },
        dataType: "json",
        success: function(data) {
          $("input[name=id]").val(data.id);

        },
        error: function() {
          errorMessage();
        },
      });
    }
    /* fonction click modifier client */
    function modifClient(value) {
      $('#btnClient').attr('hidden', 'hidden')
      $('#btnEditer').attr('hidden', 'hidden')
      $.ajax({
        method: "get",
        type: "ajax",
        url: '{{ path("app_client_findById") }}',
        async: false,
        data: {
          id: value
        },
        dataType: "json",
        success: function(data) {
          console.log(data)
          $("input[name=nomClient]").val(data.nomClient);
          $("input[name=prenomClient]").val(data.prenomClient);
          $("input[name=fixe]").val(data.telFixe);
          $("select[name=etat]").val(data.etat).change();
          $("input[name=gerant]").val(data.nomGerant);
          $("input[name=portable1]").val(data.telPortable1);
          $("input[name=portable2]").val(data.telPortable2);
          $("input[name=reference]").val(data.refClient);
          $("input[name=datePaiment]").val(moment(data.datePaiment).format("YYYY-MM-DD"));
          $("input[name=nomGerant]").val(data.nomGerant);
          $("input[name=email]").val(data.email);
          $("input[name=id]").val(data.id);
          if (data.abonnement == "photocopie") {
            $('input[name=photocopie]').attr('checked', 'checked')
            $('input[name=maintenance]').removeAttr('checked', 'checked')
          }
          if (data.abonnement == "maintenance") {
            $('input[name=maintenance]').attr('checked', 'checked')
            $('input[name=photocopie]').removeAttr('checked', 'checked')
          }else if(data.abonnement == "photocopie, maintenance"){
            $('input[name=maintenance]').attr('checked', 'checked')
            $('input[name=photocopie]').attr('checked', 'checked')
          }
          $("#modalClient").modal("show");
          $("#modalClient").find(".modal-title").text("Detaille");
        },
        error: function(error) {
          console.log(error)
        }
      })
    }
    /* fonction click boutton recherche client */
    function searchAllClient() {
      let param = $('input[name=searchClient]').val()
      $.ajax({
        method: "post",
        type: "ajax",
        url: '{{ path("app_client_search") }}',
        // async: false,
        data: {
          param: param
        },
        dataType: "json",
        beforeSend: function() {
          $("#dataClient").html("<td colspan='7' class='text-center'><span class='spinner-border spinner-border-sm text-camson'></span></td>");
        },
        success: function(data) {
          $("#dataClient").html("<td colspan='7' class='text-center'>No data</td>");
          let i;
          let html = "";
          let telPortable2;
          if (data.length > 0) {
            console.log(data)
            $.each(data, function(index, value) {
              let date = moment(value.datePaiment).format("ll")
              if (value.telPortable2 == null) {
                telPortable2 = "";
              } else {
                telPortable2 = value.telPortable2;
              }
              html += "<tr>" +
                "<td>" + value.nomClient + "</td>" +
                "<td>" + value.prenomClient + "</td>" +
                "<td>" + value.telFixe + "</td>" +
                "<td>" + value.refClient + "</td>" +
                "<td>" + value.etat + "</td>" +
                "<td>" + value.email + "</td>" +
                "<td>" +
                '<button type="button" class="btn btn-dark btn-sm" onclick="modifClient(' + value.id + ')" data-toggle="tooltip" data-placement="right" title="Detaille"><i class="bi bi-eye-fill"></i></button> ' +
                '<button type="button" onclick="showModalUpdate(' + value.id + ')" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="left" title="Modifier"><i class="bi bi-pencil-square"></i></button> ' +
                '<button type="button" onclick="modalDelete(' + value.id + ')" class="btn bg-camson btn-sm text-black" data-toggle="tooltip" data-placement="left" title="Supprimer"><i class="bi bi-trash3"></i></button>' +
                "</td>" +
                "</tr>"
            })
            $('#dataClient').html(html);
          } else {
            $("#dataClient").html("<tr><td colspan =11 class='text-center'>No data</td></tr>");
          }
        },
        error: function() {
          errorMessage();
        },
      });
    }
    /* modal de suppression client */
    function modalDelete(value) {
      Swal.fire({
        title: 'Suppression',
        text: "Voulez-vous vraiment supprimer le champ?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Ok, supprimer!'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            method: "post",
            type: "ajax",
            url: '{{ path("app_client_delete") }}',
            data: {
              id: value
            },
            async: false,
            dataType: "json",
            success: function(data) {
              successMessage();
              showAllClient();
            },
            error: function() {
              errorMessage();
            },
          });

        }
      })
    }
    $('.closeModal').click(function() {
      $('.modal').modal('hide');
    })
    /* fonction controle champ client */
    function ctrlChamp() {
      let nomClient = $("input[name=nomClient]").val()
      let prenomClient = $("input[name=prenomClient]").val()
      let telFixe = $("input[name=fixe]").val()
      let portable1 = $("input[name=portable1]").val()
      let portable2 = $("input[name=portable2]").val()
      let reference = $("input[name=reference]").val()
      let datePaiment = $("input[name=datePaiement]").val()
      let dateClient = $("input[name=dateClient]").val()
      let nomGerant = $("input[name=gerant]").val()
      let email = $("input[name=email]").val()
      if (dateClient == "" || prenomClient == "" || nomClient == "" || datePaiment == "" || telFixe == "" || portable1 == "" || portable2 == "" || reference == "" || email == "" || nomGerant == "") {
        $("#btnClient").attr("disabled", "disabled")
      } else {
        console.log('no disabled')
        $("#btnClient").removeAttr("disabled", "disabled")
      }
    }


    $("#all_check").click(function() {
      if ($("#check_nom").prop('checked')) {
        localStorage.setItem("nom", "afficher");
        $(".colonne_nom").show();
      } else {
        localStorage.setItem("nom", "masquer");
        $(".colonne_nom").hide();
      }

      if ($("#check_prenom").prop('checked')) {
        localStorage.setItem("prenom", "afficher");
        $(".colonne_prenom").show();
      } else {
        localStorage.setItem("prenom", "masquer");
        $(".colonne_prenom").hide();
      }

      if ($("#check_tel").prop('checked')) {
        localStorage.setItem("tel", "afficher");
        $(".colonne_tel").show();
      } else {
        localStorage.setItem("tel", "masquer");
        $(".colonne_tel").hide();
      }

      if ($("#check_ref").prop('checked')) {
        localStorage.setItem("ref", "afficher");
        $(".colonne_ref").show();
      } else {
        localStorage.setItem("ref", "masquer");
        $(".colonne_ref").hide();
      }

      if ($("#check_etat").prop('checked')) {
        localStorage.setItem("etat", "afficher");
        $(".colonne_etat").show();
      } else {
        localStorage.setItem("etat", "masquer");
        $(".colonne_etat").hide();
      }

      if ($("#check_email").prop('checked')) {
        localStorage.setItem("email", "afficher");
        $(".colonne_email").show();
      } else {
        localStorage.setItem("email", "masquer");
        $(".colonne_email").hide();
      }
    });

    function Personnalisation_colonne() {
      if (localStorage.getItem("nom") == "masquer") {
        $(".colonne_nom").hide();
        $("#check_nom").prop("checked", false);
      }

      if (localStorage.getItem("prenom") == "masquer") {
        $(".colonne_prenom").hide();
        $("#check_prenom").prop("checked", false);
      }

      if (localStorage.getItem("tel") == "masquer") {
        $(".colonne_tel").hide();
        $("#check_tel").prop("checked", false);
      }

      if (localStorage.getItem("ref") == "masquer") {
        $(".colonne_ref").hide();
        $("#check_ref").prop("checked", false);
      }

      if (localStorage.getItem("etat") == "masquer") {
        $(".colonne_etat").hide();
        $("#check_etat").prop("checked", false);
      }

      if (localStorage.getItem("email") == "masquer") {
        $(".colonne_email").hide();
        $("#check_email").prop("checked", false);
      }
    }


    $("#searchClient").keyup(function() {
      let parametre = $('input[name=searchClient]').val()
      if (parametre.length >= 2) {
        searchAllClient();
      }

      if (parametre == "") {
        showAllClient();
      }
    });

    function date_now() {

      var now = new Date();

      var day = ("0" + now.getDate()).slice(-2);
      var month = ("0" + (now.getMonth() + 1)).slice(-2);

      var today = now.getFullYear() + "-" + (month) + "-" + (day);

      $('#datePaiment').val(today);

    }

    date_now();
  </script>
  {% endblock %}