{% extends 'template.html.twig' %}
{% block title %}Camson Group | Produit{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/pagination.css') }}">
<div class="pagetitle">
    <h1>Achat et vente</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active"><a href="#">Achat et vente</a></li>
        </ol>
    </nav>
</div>

{# <div class="d-flex bd-highlight mb-3">
	<div class="me-auto p-2 bd-highlight">
		<div class="row">
			<div class="col-md-10">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Rechercher..." name="searchproduit" id="searchproduit">
				</div>
			</div>
			<div class="col-md-2">
				<button class="btn bg-camson" type="button">
					<i class="bi bi-search"></i>
				</button>
			</div>
		</div>
	</div>
</div> #}
<!-- ====================== =FIN AJOUTER produit ===========================-->
<!-- ====================== =LISTE produit ===========================-->



<div class="card">
    <div class="card-body m-3">
        <form class="row" id="form_achat">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">Identification du Client</label>
                    <div>
                        <input type="text" class="form-control input-lg" name="client" id="client">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">Identification du Produit</label>
                    <div>
                        <input type="text" class="form-control input-lg" name="produit" id="produit">
                    </div>
                </div>
            </div>
            <center>
            <div class="col-lg-6 mt-3">
                <button type="button" class="btn btn-info text-white" id="btnSaveAchat">Faire l'achat <span id="loadingAddAchat"></span>
            </div> 
            </center>
        </form>
    </div>
</div>





<div class="card cardCamson">
    <div class="card-body m-2" id="valider">
        <table class="table">
            <thead class="table bg-dark text-white">
                <tr>
                    <th class="colonne_ref">Client</th>
                    <th class="colonne_nom">Produit</th>
                    <th class="colonne_magasin">Date d'achat</th>
                    <th class="">actions</th>
                </tr>
            </thead>
            <tbody id="dataAchat"></tbody>
        </table>
        <div id="demo"></div>
    </div>

    <div class=""></div>
</div>



<!-- =======================Modal Detail Achat===========================-->
<div class="modal fade" id="modalClient" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">
            <i class="ti-marker-alt m-r-10"></i>
          </h5>
          <button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Nom Client</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="nomClient" id="nom_Client" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Prénom</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="prenomClient" id="prenomClient" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Date d'achat</label>
                      <div>
                        <input type="date" class="form-control input-lg" name="datePaiement" id="datePaiment" onchange="ctrlChamp()" value="{{ 'now'|date('Y-m-d') }}">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Reférence client</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="reference" id="reference" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Gerant</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="gerant" id="gerant" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Portable 1</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="portable1" id="portable1" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Portable 2</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="portable2" id="portable2" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Tél. Fixe</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="fixe" id="fixe" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                </div>
                {# <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">email</label>
                      <div>
                        <input type="email" class="form-control input-lg" name="email" id="email" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                </div> #}
                <br> <br>  <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                        <label class="control-label">Référence du Produit</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="reference_produit" id="email" onkeyup="ctrlChamp()">
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                        <label class="control-label">Nom du produit</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="nom_produit" id="email" onkeyup="ctrlChamp()">
                        </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </form>
    </div>
  </div>

   
<!-- ====================== =SCRIPT ===========================-->
<script src="{{ asset('assets/js/pagination.js') }}"></script>
<script>
	$("#btnSaveAchat").click(function() {
        let data = $("#form_achat").serialize();
        $.ajax({
            type: "ajax",
            method: "post",
            url: '{{ path("app_achat_new") }}',
            data: data,
            dataType: "json",
            beforeSend: function() {
                $("#btnSaveAchat").attr("disabled", "disabled");
                $("#btnSaveAchat").find("#loadingAddAchat").addClass("spinner-border spinner-border-sm");
            },
            success: function(response) {
                $("#btnSaveAchat").removeAttr("disabled", "disabled");
                $("#btnSaveAchat").find("#loadingAddAchat").removeClass("spinner-border spinner-border-sm");
                showAllAchat(); 
                successMessage();
            },
            error: function() {
                $("#btnSaveAchat").removeAttr("disabled", "disabled");
                $("#btnSaveAchat").find("#loadingAddAchat").removeClass("spinner-border spinner-border-sm");
                errorMessage();
            },
        });
    });


    showAllAchat(); 

    function showAllAchat() {
        $('input[name=searchClient]').val('');
        $.ajax({
            type: "ajax",
            url: '{{ path("app_all_achat") }}',
            // async: false,
            dataType: "json",
            beforeSend: function() {
            $("#dataAchat").html("<td colspan='7' class='text-center'><span class='spinner-border spinner-border-sm text-camson'></span></td>");
            },
            success: function(data) {
            var result = [];
            //pagination client
            $('#demo').pagination({
                dataSource: function(done) {
                result.push(data);
                done(result[0]);
                console.log(result[0]);
                if (result[0].length <= 15) {
                    $('#demo').attr('hidden', 'hidden');
                } else {
                    $('#demo').removeAttr('hidden');
                }
                },
                callback: function(data, pagination) {
                let html = ""
                let telPortable2;
                if (data.length <= 0) {
                    $("#dataClient").html("<td colspan ='9' class='text-center'>No data</td>")
                } else {
                    $.each(data, function(index, value) {
                    let date = moment(value.datePaiment).format("ll")
                    if (value.telPortable2 == null) {
                        telPortable2 = "";
                    } else {
                        telPortable2 = value.telPortable2;
                    }
                   
                    html += "<tr>" +
                        "<td class='colonne_nom'>" + value.nom_client + " " + value.prenom_client + "</td>" +
                        "<td class='colonne_nom'>" + value.nom_produit + "</td>" +
                        "<td class='colonne_abonnement'>" + value.date + "</td>" +
                        "<td class=''>" +
                        '<button type="button" class="btn btn-dark btn-sm" onclick="modifClient(' + value.id + ')" data-toggle="tooltip" data-placement="right" title="Detaille"><i class="bi bi-eye-fill"></i></button> ' +
                        "</td>" +
                        "</tr>"
                    })
                    $("#dataAchat").html(html);
                    // Personnalisation_colonne();
                }
                }
            })
            //fin pagination
            },
            error: function() {

            },
        });
    }


    function modifClient(value) {
        $('#btnClient').attr('hidden', 'hidden')
        $('#btnEditer').attr('hidden', 'hidden')
        $.ajax({
            method: "get",
            type: "ajax",
            url: '{{ path("app_achat_by_id") }}',
            async: false,
            data: {
            id: value
            },
            dataType: "json",
            success: function(data) {
            console.log(data)
            $("input[name=nomClient]").val(data.nom_client);
            $("input[name=prenomClient]").val(data.prenom_client);
            $("input[name=fixe]").val(data.tel_fixe);
            $("select[name=etat]").val(data.etat).change();
            $("input[name=gerant]").val(data.nom_gerant);
            $("input[name=portable1]").val(data.tel_portable1);
            $("input[name=portable2]").val(data.tel_portable2);
            $("input[name=reference]").val(data.ref_client);
            $("input[name=datePaiment]").val(moment(data.date).format("YYYY-MM-DD"));
            $("input[name=nomGerant]").val(data.nom_gerant);
            $("input[name=email]").val(data.email);
            $("input[name=id]").val(data.id);
            $("input[name=reference_produit").val(data.reference_produit);
            $("input[name=nom_produit]").val(data.nom_produit);
            $("#modalClient").modal("show");
            $("#modalClient").find(".modal-title").text("Detaille");
            },
            error: function(error) {
            console.log(error)
            }
        })
    }

</script>

{% endblock %}