{% extends 'template.html.twig' %}
{% block title %}Camson Group | Produit{% endblock %}
{% block body %}
<style>


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  width: 290px;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 70%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #ffcbcb; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
</style>
<link rel="stylesheet" href="{{ asset('assets/css/pagination.css') }}">
<div class="pagetitle">
    <h1>Achat et vente</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active"><a href="#">Achat et vente</a></li>
        </ol>
    </nav>
</div>

{# <div class="d-flex bd-highlight mb-3">
	<div class="me-auto p-2 bd-highlight">
		<div class="row">
			<div class="col-md-10">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Rechercher..." name="searchproduit" id="searchproduit">
				</div>
			</div>
			<div class="col-md-2">
				<button class="btn bg-camson" type="button">
					<i class="bi bi-search"></i>
				</button>
			</div>
		</div>
	</div>
</div> #}
<!-- ====================== =FIN AJOUTER produit ===========================-->
<!-- ====================== =LISTE produit ===========================-->



<div class="card">
    <div class="card-body m-3">
        <div class="row" id="form_achat">
            <div class="col-lg-5">
                <div class="form-group">
                    <label class="control-label">Référence Client</label>
                    <div>
                        <input type="text" class="form-control input-lg" name="client" id="client" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <label class="control-label">Référence Magasin</label>
                    <div>
                        <select name="magasin" id="magasin" class="form-control" disabled></select>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 mt-4">
                <button data-bs-toggle="modal" id="btnOk" onclick="ouvrir_panier()" data-bs-target="#modal_pannier" type="button" class="btn btn-info text-white" disabled>OK<span id="loadingAddAchat"></span>
            </div> 
        </div>
    </div>
</div>





<div class="card cardCamson">
    <div class="card-body m-2" id="valider">
        <table class="table">
            <thead class="table bg-dark text-white">
                <tr>
                    <th class="colonne_ref">Client</th>
                    <th class="colonne_nom">Produit</th>
                    <th class="colonne_magasin">Date d'achat</th>
                    <th class="">actions</th>
                </tr>
            </thead>
            <tbody id="dataAchat"></tbody>
        </table>
        <div id="demo"></div>
    </div>

    <div class=""></div>
</div>



<!-- =======================Modal Detail Achat===========================-->
<div class="modal fade" id="modalClient" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">
            <i class="ti-marker-alt m-r-10"></i>
          </h5>
          <button type="button" class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Nom Client</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="nomClient" id="nom_Client" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Prénom</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="prenomClient" id="prenomClient" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Date d'achat</label>
                      <div>
                        <input type="date" class="form-control input-lg" name="datePaiement" id="datePaiment" onchange="ctrlChamp()" value="{{ 'now'|date('Y-m-d') }}">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Reférence client</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="reference" id="reference" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Gerant</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="gerant" id="gerant" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Portable 1</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="portable1" id="portable1" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Portable 2</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="portable2" id="portable2" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">Tél. Fixe</label>
                      <div>
                        <input type="text" class="form-control input-lg" name="fixe" id="fixe" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                </div>
                {# <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="control-label">email</label>
                      <div>
                        <input type="email" class="form-control input-lg" name="email" id="email" onkeyup="ctrlChamp()">
                      </div>
                    </div>
                  </div>
                </div> #}
                <br> <br>  <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                        <label class="control-label">Référence du Produit</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="reference_produit" id="email" onkeyup="ctrlChamp()">
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                        <label class="control-label">Nom du produit</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="nom_produit" id="email" onkeyup="ctrlChamp()">
                        </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </form>
    </div>
  </div>


   <!-- Modal Pannier -->
    <div class="modal fade" id="modal_pannier" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header"><h4>Pannier</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="all_check">
                  <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="control-label">Produit</label>
                      <div>
                       <select name="produit_panier" id="produit_panier" class="form-control" onchange="getPrixUnitaire()"></select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="control-label">Quantité</label>
                      <div>
                        <input type="number" onchange="calculSousTotal()" class="form-control input-lg" name="quantite" id="quantite">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="control-label">Prix unitaire</label>
                      <div>
                        <input type="number" class="form-control input-lg" name="prix_unitaire" id="prix_unitaire">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="control-label">Sous Total</label>
                      <div>
                        <input type="number" class="form-control input-lg" name="sous_total" id="sous_total">
                      </div>
                    </div>
                  </div>
                 
                </div>
                </div>
                <div class="m-2">
                  <table class="table">
                  <thead class="table bg-dark text-white">
                    <tr>
                      <th class="colonne_nom">Produit</th>
                      <th class="colonne_prenom">Quantité</th>
                      <th class="colonne_email">Prix</th>
                      <th class="colonne_abonnement">Sous Total</th>
                      <th class="">actions</th>
                    </tr>
                  </thead>
                  <tbody id="dataPanier">
                  </tbody>
                </table>
                <div id="demo"></div>
                </div>
                
                <div class="modal-footer">
                  <button type="button" onclick="ajouterPanier()" class="btn btn-success" >Ajouter au panier</button>
                  <button type="button" onclick="transfertPanier()" class="btn btn-primary" data-bs-dismiss="modal">Faire l'achat</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Pankier -->

   
<!-- ====================== =SCRIPT ===========================-->
<script src="{{ asset('assets/js/pagination.js') }}"></script>
<script>
	$("#btnSaveAchat").click(function() {
        let data = $("#form_achat").serialize();
        $.ajax({
            type: "ajax",
            method: "post",
            url: '{{ path("app_achat_new") }}',
            data: data,
            dataType: "json",
            beforeSend: function() {
                $("#btnSaveAchat").attr("disabled", "disabled");
                $("#btnSaveAchat").find("#loadingAddAchat").addClass("spinner-border spinner-border-sm");
            },
            success: function(response) {
                $("#btnSaveAchat").removeAttr("disabled", "disabled");
                $("#btnSaveAchat").find("#loadingAddAchat").removeClass("spinner-border spinner-border-sm");
                showAllAchat(); 
                successMessage();
            },
            error: function() {
                $("#btnSaveAchat").removeAttr("disabled", "disabled");
                $("#btnSaveAchat").find("#loadingAddAchat").removeClass("spinner-border spinner-border-sm");
                errorMessage();
            },
        });
    });


    showAllAchat(); 

    function showAllAchat() {
        $('input[name=searchClient]').val('');
        $.ajax({
            type: "ajax",
            url: '{{ path("app_all_achat") }}',
            // async: false,
            dataType: "json",
            beforeSend: function() {
            $("#dataAchat").html("<td colspan='7' class='text-center'><span class='spinner-border spinner-border-sm text-camson'></span></td>");
            },
            success: function(data) {
            var result = [];
            //pagination client
            $('#demo').pagination({
                dataSource: function(done) {
                result.push(data);
                done(result[0]);
                if (result[0].length <= 15) {
                    $('#demo').attr('hidden', 'hidden');
                } else {
                    $('#demo').removeAttr('hidden');
                }
                },
                callback: function(data, pagination) {
                let html = ""
                let telPortable2;
                if (data.length <= 0) {
                    $("#dataClient").html("<td colspan ='9' class='text-center'>No data</td>")
                } else {
                    $.each(data, function(index, value) {
                    let date = moment(value.datePaiment).format("ll")
                    if (value.telPortable2 == null) {
                        telPortable2 = "";
                    } else {
                        telPortable2 = value.telPortable2;
                    }
                   
                    html += "<tr>" +
                        "<td class='colonne_nom'>" + value.nom_client + " " + value.prenom_client + "</td>" +
                        "<td class='colonne_nom'>" + value.nom_produit + "</td>" +
                        "<td class='colonne_abonnement'>" + value.date_paiment + "</td>" +
                        "<td class=''>" +
                        '<button type="button" class="btn btn-dark btn-sm" onclick="modifClient(' + value.id + ')" data-toggle="tooltip" data-placement="right" title="Detaille"><i class="bi bi-eye-fill"></i></button> ' +
                        "</td>" +
                        "</tr>"
                    })
                    $("#dataAchat").html(html);
                    // Personnalisation_colonne();
                }
                }
            })
            //fin pagination
            },
            error: function() {

            },
        });
    }


    function modifClient(value) {
        $('#btnClient').attr('hidden', 'hidden')
        $('#btnEditer').attr('hidden', 'hidden')
        $.ajax({
            method: "get",
            type: "ajax",
            url: '{{ path("app_achat_by_id") }}',
            async: false,
            data: {
            id: value
            },
            dataType: "json",
            success: function(data) {
              $("input[name=nomClient]").val(data.nom_client);
              $("input[name=prenomClient]").val(data.prenom_client);
              $("input[name=fixe]").val(data.tel_fixe);
              $("select[name=etat]").val(data.etat).change();
              $("input[name=gerant]").val(data.nom_gerant);
              $("input[name=portable1]").val(data.tel_portable1);
              $("input[name=portable2]").val(data.tel_portable2);
              $("input[name=reference]").val(data.ref_client);
              $("input[name=datePaiment]").val(moment(data.date).format("YYYY-MM-DD"));
              $("input[name=nomGerant]").val(data.nom_gerant);
              $("input[name=email]").val(data.email);
              $("input[name=id]").val(data.id);
              $("input[name=reference_produit").val(data.reference_produit);
              $("input[name=nom_produit]").val(data.nom_produit);
              $("#modalClient").modal("show");
              $("#modalClient").find(".modal-title").text("Detaille");
              },
              error: function(error) {
              console.log(error)
            }
        })
    }



    showAllmagasin();

    function showAllmagasin() {
        $.ajax({
            type: "ajax",
            url: '{{ path("app_magasin_all_magasin") }}',
            // async: false,
            dataType: "json",
            success: function(data) {
                let html = "<option value='' selected>Séléctionner</option>";
                $.each(data, function(index, value) {
                    html += "<option value=" + value.id + ">" + value.nomMag + "</option>"
                })
                $("#magasin").html(html);
            },
            error: function(error) {
                console.log(error)
            },
        });
    }



    
    function ouvrir_panier() {
      var magasin = $("#magasin").val();


      $.ajax({
        method: "get",
        type: "ajax",
        url: '{{ path("app_show_product_by_magasin") }}',
        async: false,
        data: {
        id: magasin
        },
        dataType: "json",

        success: function(data) {
          let html = "<option value='' selected>Séléctionner</option>";
            $.each(data, function(index, value) {
                html += "<option value=" + value.id + ">" + value.nom_produit + "</option>"
            })
            $("#produit_panier").html(html);
          },
          error: function(error) {
          console.log(error)
        }
      })

      showPanier();
    }



    function getPrixUnitaire() {
      var produit = $("#produit_panier").val();

      $.ajax({
        method: "get",
        type: "ajax",
        url: '{{ path("app_show_prix_product") }}',
        //async: false,
        data: {
        id: produit
        },
        dataType: "json",

        success: function(data) {
          $("#prix_unitaire").val(data.prix);
        }
      })
    }


    function calculSousTotal() {
      var prix_unitaire = $("#prix_unitaire").val();
      var quantite = $("#quantite").val();
      var sous_total = prix_unitaire * quantite;
      $("#sous_total").val(sous_total);
    }



    function ajouterPanier(){
      var input_ref_client = $("#client").val();
      var ref_client = input_ref_client.substring(0, input_ref_client.indexOf(' '));
      var magasin = $("#magasin").val();
      var produit = $("#produit_panier").val();
      var prix_unitaire = $("#prix_unitaire").val();
      var quantite = $("#quantite").val();
      var sous_total = $("#sous_total").val();

      console.log(ref_client);

      $.ajax({
        method: "get",
        type: "ajax",
        url: '{{ path("app_panier_new") }}',
        async: false,
        data: {
          ref_client: ref_client, 
          magasin: magasin,
          produit: produit,
          prix: prix_unitaire,
          quantite: quantite,
          total: sous_total
        },
        dataType: "json",

        success: function(data) {
          showPanier();
          successMessage();
        },
        error: function(error) {
        console.log(error)
      }
    })
  }


   

    var all_client = [];
    function autocomplete(inp, arr) {
      
      $.ajax({
            type: "ajax",
            url: '{{ path("app_client_all_client") }}',
            dataType: "json",
            success: function(data) {
                $.each(data, function(index, value) {
                    all_client.push(value.refClient+" - "+value.nomClient+" "+value.prenomClient);
                })
               
            },
            error: function(error) {
                console.log(error)
            },
        });

        console.log(all_client)


        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
              /*check if the item starts with the same letters as the text field value:*/
              if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                /*create a DIV element for each matching element:*/
                b = document.createElement("DIV");
                /*make the matching letters bold:*/
                b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                b.innerHTML += arr[i].substr(val.length);
                /*insert a input field that will hold the current array item's value:*/
                b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                /*execute a function when someone clicks on the item value (DIV element):*/
                b.addEventListener("click", function(e) {
                    /*insert the value for the autocomplete text field:*/
                    inp.value = this.getElementsByTagName("input")[0].value;
                    /*close the list of autocompleted values,
                    (or any other open lists of autocompleted values:*/
                    closeAllLists();
                });
                a.appendChild(b);
              }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
              /*If the arrow DOWN key is pressed,
              increase the currentFocus variable:*/
              currentFocus++;
              /*and and make the current item more visible:*/
              addActive(x);
            } else if (e.keyCode == 38) { //up
              /*If the arrow UP key is pressed,
              decrease the currentFocus variable:*/
              currentFocus--;
              /*and and make the current item more visible:*/
              addActive(x);
            } else if (e.keyCode == 13) {
              /*If the ENTER key is pressed, prevent the form from being submitted,*/
              e.preventDefault();
              if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
              }
            }
        });
        function addActive(x) {
          /*a function to classify an item as "active":*/
          if (!x) return false;
          /*start by removing the "active" class on all items:*/
          removeActive(x);
          if (currentFocus >= x.length) currentFocus = 0;
          if (currentFocus < 0) currentFocus = (x.length - 1);
          /*add class "autocomplete-active":*/
          x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
          /*a function to remove the "active" class from all autocomplete items:*/
          for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
          }
        }
        function closeAllLists(elmnt) {
          /*close all autocomplete lists in the document,
          except the one passed as an argument:*/
          var x = document.getElementsByClassName("autocomplete-items");
          for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
              x[i].parentNode.removeChild(x[i]);
            }
          }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
      }


      /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
      autocomplete(document.getElementById("client"), all_client);

    

    $("#client").keyup(function () {
      var client = $("#client").val();
      if (client) {
        $('#magasin').prop('disabled', false);
      }
      else{
        $('#magasin').prop('disabled', true);
      }
    })

    $("#magasin").change(function () {
      var client = $("#client").val();
      var magasin = $("#magasin").val();
      if (!client) {
        alert('Le champ client ne doit pas être vide');

      }

      if (client && magasin !== "Séléctionner" ) {
        $('#btnOk').prop('disabled', false);
      }
      else if (magasin == "Séléctionner" ){
        $('#btnOk').prop('disabled', true);
      }

    })






    function showPanier() {
      var input_ref_client = $("#client").val();
      var ref_client = input_ref_client.substring(0, input_ref_client.indexOf(' '));
      $.ajax({
        method: "get",
        type: "ajax",
        url: '{{ path("app_all_panier") }}',
        data: {
          ref_client: ref_client
        },
        dataType: "json",
        beforeSend: function() {
          $("#dataPanier").html("<td colspan='7' class='text-center'><span class='spinner-border spinner-border-sm text-camson'></span></td>");
        },
        success: function(data) {
          var result = [];
          //pagination client
          $('#demo').pagination({
            dataSource: function(done) {
              result.push(data);
              done(result[0]);
              console.log(result[0]);
              if (result[0].length <= 15) {
                $('#demo').attr('hidden', 'hidden');
              } else {
                $('#demo').removeAttr('hidden');
              }
            },
            callback: function(data, pagination) {
              let html = ""
              let telPortable2;
              if (data.length <= 0) {
                $("#dataClient").html("<td colspan ='9' class='text-center'>No data</td>")
                // $("tfoot").attr("hidden", 'hidden')
              } else {
                // $("tfoot").removeAttr("hidden", 'hidden')
                $.each(data, function(index, value) {
                  console.log(value);
                  
                  html += "<tr>" +
                    "<td class='colonne_nom'>" + value.nom_produit + "</td>" +
                    "<td class='colonne_prenom'>" + value.quantite + "</td>" +
                    "<td class='colonne_tel'>" + value.prix_unitaire + "</td>" +
                    "<td class='colonne_ref'>" + value.sous_total + "</td>" +
                    "<td class=''>" +
                    '<button type="button" class="btn btn-danger btn-sm"  onclick="deletePanier(' + value.id + ')" title="Supprimer"><i class="bi bi-trash3"></i></button>' +
                    "</td>" +
                    "</tr>";
                })
                $("#dataPanier").html(html);
                // Personnalisation_colonne();
              }
            }
          })
          //fin pagination
        },
        error: function() {

        },
      });
    }

    function transfertPanier(){
      var input_ref_client = $("#client").val();
      var ref_client = input_ref_client.substring(0, input_ref_client.indexOf(' '));

      $.ajax({
          method: "get",
          type: "ajax",
          url: '{{ path("app_transfert_panier") }}',
          async: false,
          data: {
            ref_client: ref_client
          },
          dataType: "json",

          success: function(data) {
            successMessage();
            viderPanier();
          },
          error: function(error) {
          console.log(error)
        }
      })
    }

    function deletePanier(id) {
      $.ajax({
        method: "get",
        type: "ajax",
        url: '{{ path("app_delete_panier") }}',
        async: false,
        data: {
          id: id
        },
        dataType: "json",

        success: function(data) {
          showPanier();
          successMessage();
        },
        error: function(error) {
        console.log(error)
        }
      })
    }


    function viderPanier() {
      var input_ref_client = $("#client").val();
      var ref_client = input_ref_client.substring(0, input_ref_client.indexOf(' '));

      $.ajax({
        method: "get",
        type: "ajax",
        url: '{{ path("app_vider_panier") }}',
        async: false,
        data: {
          ref_client: ref_client
        },
        dataType: "json",

        success: function(data) {
          showPanier();
          successMessage();
        },
        error: function(error) {
        console.log(error)
        }
      })
    }



</script>

{% endblock %}